.mm {
	right: 0;
	top: 0;
	z-index: 1080;
	position: absolute;
	cursor: pointer;
	overflow-y: hidden;
	padding: 0px;
}
.mm_scrollbar {
	cursor: pointer;
	z-index: 1080;
	width: 100%;
	overflow-y: hidden;
}
.mm_bar {
	width: 100%;
	z-index: 1090;
	background-color: rgba(255, 255, 255, 0.4);
	right: 0;
	top: 0;
	position: absolute;
	cursor: pointer;
	padding: 0;
	margin: 0;
}
.mm_scrollbar>.CodeMirror {
	cursor: pointer;
	z-index: 1070;
	background: rgba(0, 0, 0, 0.5) !important;
	font-size: 4px !important;
	font-weight: 300 !important;
	line-height: 4px !important;
	height: 100%;
	width: 100%;
	position: relative;
}
.mm_scrollbar>.CodeMirror .CodeMirror-scroll>.CodeMirror-sizer>div>.CodeMirror-lines {
	padding: 0px 0px !important;
}
.mm_scrollbar>.CodeMirror .CodeMirror-scroll>.CodeMirror-sizer>div>.CodeMirror-lines>div>.CodeMirror-cursors {
	display: none !important;
}
.mm_scrollbar>.CodeMirror .CodeMirror-scroll>.CodeMirror-sizer>div>.CodeMirror-lines>div>.CodeMirror-code .cm-tab {
	background: none !important;
	border: none !important;
}
.mm_scrollbar>.CodeMirror .CodeMirror-simplescroll-horizontal {
	height: 0;
	overflow-x: hidden !important;
	display: none !important;
}
/*=============================================
=                    animation                =
=============================================*/
.mm.transition,
.mm.transition>* {
	-moz-transition: opacity 0.2s ease-in-out 0.2s, height 0.2s ease-in-out 0.2s;
	-webkit-transition: opacity 0.2s ease-in-out 0.2s, height 0.2s ease-in-out 0.2s;
	-o-transition: opacity 0.2s ease-in-out 0.2s, height 0.2s ease-in-out 0.2s;
	transition: opacity 0.2s ease-in-out 0.2s, height 0.2s ease-in-out 0.2s;
}
.mm.transition.fadeout {
	opacity: 0.5;
	-webkit-transition: opacity 0.2s ease-in-out 0.2s, height 0.2s ease-in-out 0.2s;
	-moz-transition: opacity 0.2s ease-in-out 0.2s, height 0.2s ease-in-out 0.2s;
	-o-transition: opacity 0.2s ease-in-out 0.2s, height 0.2s ease-in-out 0.2s;
	transition: opacity 0.2s ease-in-out 0.2s, height 0.2s ease-in-out 0.2s;
}
/*=============================================
=            active, hover, focus            =
=============================================*/
.mm:hover {
	opacity: 1;
}
.mm_bar:active {
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgb(138, 138, 138)
}