.map {
    cursor: pointer;
    overflow: hidden !important;
    position:absolute;
}
.map {
    opacity: 0;
    /*Элемент полностью прозрачный (невидимый)*/
    animation: show 900ms 1;
    /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards;
    /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 900ms;
    /* Задержка перед началом */
}
@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.map__scrollbar {
    min-height: 100%;
    width: 100%;
    z-index: 1051;
    background: none;
    left: 0;
    top: 0;
    position: absolute;
}
.map__view {
    width: 100%;
    z-index: 1052;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: opacity 0.2s ease-in-out 0.2s, height 0.2s ease-in-out 0.2s;
    -moz-transition: opacity 0.2s ease-in-out 0.2s, height 0.2s ease-in-out 0.2s;
    -o-transition: opacity 0.2s ease-in-out 0.2s, height 0.2s ease-in-out 0.2s;
    transition: opacity 0.2s ease-in-out 0.2s, height 0.2s ease-in-out 0.2s;
}
.map__view:hover {
    background-color: rgba(121, 121, 121, 0.1);
    border: 1px solid rgb(138, 138, 138)
}
.map__view.faded {
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out 0.2s, height 0.2s ease-in-out 0.2s;
    -moz-transition: opacity 0.2s ease-in-out 0.2s, height 0.2s ease-in-out 0.2s;
    -o-transition: opacity 0.2s ease-in-out 0.2s, height 0.2s ease-in-out 0.2s;
    transition: opacity 0.2s ease-in-out 0.2s, height 0.2s ease-in-out 0.2s;
}
.map>.CodeMirror {
    z-index: 1050;
    cursor: pointer !important;
    font-family: Arial sans-serif !important;
    background: none !important;
    font-size: 2px !important;
    line-height: 2px !important;
    height: auto;
    width: 100%;
    min-width: 100%;
}
.map>.CodeMirror pre {
    cursor: pointer !important;
    -moz-user-select: none !important;
    -khtml-user-select: none !important;
    user-select: none !important;
}
.map>.CodeMirror pre {
    -webkit-user-select: none !important;
    /* user-select -- это нестандартное свойство */
    -moz-user-select: none !important;
    /* поэтому нужны префиксы */
    -ms-user-select: none !important;
}
.map>.CodeMirror .CodeMirror-scroll>.CodeMirror-sizer>div>.CodeMirror-lines {
    padding: 0px 0px !important;
}
.map>.CodeMirror .CodeMirror-scroll>.CodeMirror-sizer>div>.CodeMirror-lines>div>.CodeMirror-cursors {
    display: none !important;
}
.map>.CodeMirror .CodeMirror-scroll>.CodeMirror-sizer>div>.CodeMirror-lines>div>.CodeMirror-code .cm-tab {
    background: none !important;
    border: none !important;
}
.map>.CodeMirror .CodeMirror-simplescroll-horizontal {
    height: 0;
    overflow-x: hidden !important;
    display: none !important;
}
/*=============================================
=                    animation                =
=============================================*/
.map.transition,
.map.transition>* {
    -moz-transition: opacity 0.2s ease-in-out 0.2s, top 0s;
    -webkit-transition: opacity 0.2s ease-in-out 0.2s, top 0s;
    -o-transition: opacity 0.2s ease-in-out 0.2s, top 0s;
    transition: opacity 0.2s ease-in-out 0.2s, top 0s;
}
.transition.faded {
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out 0.2s, top 0s;
    -moz-transition: opacity 0.2s ease-in-out 0.2s, top 0s;
    -o-transition: opacity 0.2s ease-in-out 0.2s, top 0s;
    transition: opacity 0.2s ease-in-out 0.2s, top 0s;
}
/*=============================================
=            active, hover, focus            =
=============================================*/
@media only screen and (max-width: 1024px)and (orientation: portrait) {
    .map {
        width: 1em;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1200px)and (orientation: landscape) {
    .map {
        width: 1em;
    }
}
